<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/style/login.css" />
  </head>
  <body>
    <form class="form-container">
      <input
        type="email"
        name="emailID"
        id="form-emailID"
        class="form-textBox"
        placeholder="email"
      />
      <input
        type="password"
        name="password"
        id="form-password"
        class="form-textBox"
        placeholder="password"
      />

      <button type="submit" class="form-btn-submit">Login</button>
    </form>

    <img
      src="/images/image-google-sign-in.png"
      alt="google-signin"
      class="google-signin"
    />

    <script src="/scripts/login.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
