<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp Page</title>
    <style>
      html {
        background-color: rgba(165, 42, 42, 0.712);
      }
      .form-container {
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin: auto;
        margin-top: 10rem;
        padding: 1.5rem;
        background-color: aquamarine;
        border-radius: 5px;
        border: 2px solid yellow;
      }
      .form-textBox {
        width: 90%;
        height: 2rem;
        padding-left: 0.4rem;
      }
      .checkBox-container {
        display: flex;
        gap: 2rem;
      }
      .form-btn-submit {
        width: 90%;
        height: 2rem;
        border-radius: 4px;
        background-color: rgb(25, 25, 246);
        color: aliceblue;
      }
    </style>
  </head>
  <body>
    <form class="form-container">
      <input
        type="email"
        name="emailID"
        id="form-emailID"
        class="form-textBox"
        placeholder="email"
      />
      <input
        type="password"
        name="password"
        id="form-password"
        class="form-textBox"
        placeholder="password"
      />

      <div class="checkBox-container">
        <label for="roles">Role:</label>

        <label for="admin"
          >Admin
          <input
            type="radio"
            name="checkBox"
            id="form-checkbox-1"
            class="form-checkbox"
            value="admin"
          />
        </label>
        <label for="Basic"
          >Basic
          <input
            type="radio"
            name="checkBox"
            id="form-checkbox-2"
            class="form-checkbox"
            value="basic"
          />
        </label>
      </div>

      <button type="submit" class="form-btn-submit">SignUp</button>
    </form>
    <script>
      const submit = document.querySelector(".form-btn-submit");

      submit.addEventListener("click", submitOnclick);

      function submitOnclick(e) {
        e.preventDefault();
        const emailText = document.querySelector("#form-emailID").value;
        const passwordText = document.querySelector("#form-password").value;
        const checkBox = document.querySelector(
          'input[name="checkBox"]:checked'
        ).value;

        if (emailText !== "" && passwordText !== "" && checkBox !== "") {
          console.log(passwordText);
          postData(emailText, passwordText, checkBox);
        } else {
          alert("Check if all the fields are filled");
        }
      }

      function postData(email, password, role) {
        const userData = { email, password, role };
        axios
          .post("http://localhost:3000/auth/signup", userData)
          .then(function (response) {
            if (response.status === 200) {
              alert("Signup Successful");
              // location.reload();
              console.log(response);
            } else {
              alert("Try Again");
            }
          })
          .catch(function (err) {
            console.log(err);
          });
      }
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
